In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\raiar\appdata\local\programs\python\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\raiar\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as connector

In [5]:
connection = connector.connect(user="little_lemon_db", password="Loloruru,4")

In [7]:
dbconfig = {"user":"little_lemon_db", "password":"Loloruru,4","db":"littlelemondb"}

In [8]:
connection = connector.connect(**dbconfig)

In [9]:
cursor = connection.cursor()

In [10]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [11]:
results=cursor.fetchall()
for result in results:
    print(result[0])

bookings
contactdetails
customers
delivery
menucontents
menuitems
menus
orders
ordersview
roles
staff

In [12]:
customer_join_query = """
        SELECT
            c.CustomerName AS FullName,
            cd.Email AS Email,
            cd.PhoneNumber AS PhoneNumber,
            cd.Address AS Address,
            cd.Country AS Country,
            cd.City AS City,
            o.TotalCost AS Cost
        FROM customers c
        JOIN contactdetails cd
            USING (CustomerID)
        JOIN orders o
            USING (CustomerID)
        WHERE o.TotalCost > 60
        ORDER BY o.TotalCost DESC;"""

In [13]:
cursor.execute(customer_join_query)

In [14]:
customers = cursor.fetchall()

In [15]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 6 customers with more than $60 of spending...
Printing the top 10 spenders...
==================================================
Full Name: 	 Jeremy Crawford
Email: 		 jeremycrawford@gmail.com
Phone Number: 	 981034
Address: 	 11, Rose Avenue, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 6000.0
==================================================
Full Name: 	 Verity Fisher
Email: 		 verityfish45@yahoo.com
Phone Number: 	 879876
Address: 	 14, Prince Road, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 5000.0
==================================================
Full Name: 	 Alicia Morgan
Email: 		 aliciamorg88@gmail.com
Phone Number: 	 873213
Address: 	 78, Tower, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 2000.0
==================================================
Full Name: 	 Theo Faber
Email: 		 fabertheo@yahoo.com
Phone Number: 	 876543
Address: 	 9, Williams Road, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 1500.0
==================================================
Full Name: 	 Gabriel Berenson
Email: 		 gabrielb@gmail.com
Phone Number: 	 981209
Address: 	 127, Louiseville, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 1000.0
==================================================
Full Name: 	 Ashleigh Lowen
Email: 		 ashleighlowen12@gmail.com
Phone Number: 	 981734
Address: 	 33, Greenvlle, Chicago, IL
Country: 	 USA
City: 		 Chicago
Has spent: 	 500.0